spring:
  application:
    name: Course-Enrollment-System
  datasource:
    url: jdbc:h2:mem:musinsa;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
    hikari:
      transaction-isolation: TRANSACTION_READ_COMMITTED
  h2:
    console:
      enabled: true
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        jdbc:
          batch_size: 500
        order_inserts: true
        order_updates: true
        format_sql: true

server:
  port: 8080

app:
  seed:
    enabled: true
    random-seed: 20260208
    department-count: 12
    professor-count: 120
    student-count: 10000
    course-count: 600
    batch-size: 500
